<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/receber_arquivo.css') }}">

    <title>Selecionar o arquivo</title>
  </head>

  <body>
    <div class="upload-box" id="upload-box">
      Arraste e solte seu arquivo aqui ou clique para escolher.
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
